.env
env
db.sqlite3
Costing for payment api  - WORK FLOW AI.csv
Costing for payment api  - DIGITAL Q.csv
Costing for payment api  - LICENSE COMPATIBILITY.csv
Costing for payment api  - LOGO SCAN .csv
Costing for payment api  - NPS.csv
Costing for payment api  - UX LIVE.csv
Costing for payment api  - VOC.csv
Costing for payment api  - WIFI QR CODE.csv
Costing for payment api  - SOCIAL MEDIA AUTOMATION .csv
/static
.vscode