.env
env
db.sqlite3
PPP_CALCULATION.csv
/static
.vscode
credentials.json
orgmail-c4daca2e8bab.json
token.json
/qrcode
/node_modules
/qrcodes
/wallet/__pycache__
/purchasing_power_parity/__pycache__
/payment/__pycache__