.env
env
db.sqlite3
PPP_CALCULATION.csv
/static
.vscode
credentials.json
orgmail-c4daca2e8bab.json
token.json
/qrcode
/node_modules
/qrcodes
/wallet/__pycache__
/wallet/migrations/__pycache__
/purchasing_power_parity/__pycache__
/purchasing_power_parity/migrations/__pycache__/
/payment/__pycache__
/payment/migrations/__pycache__
/dowellpay/__pycache__
/payment/utils/__pycache__