@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Archivo';
  height: 100vh;
  width: 100vw;
  font-size: 16px;
}

label {
  display: block;
  color: #151515;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 14px;
}

select, input {
  width: 100%;
  height: 60px;
  border-radius: 60px;
  background: #FBDDF9;
  padding-inline: 3em;
  cursor: pointer;
  border: none;
}

button {
  width: 100%;
  height: 65px;
  padding: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #AE43B9;
  border: none;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1em;
  cursor: pointer;
}

.container {
  padding-inline: 1em;
  display: flex;
  align-items: center;
}

.left-col {
  width: 100%;
  height: 100vh;
  padding: 2.5em;
  text-align: center;
  /* overflow-y: scroll; */
}

.right-col {
  width: 100%;
  height: 100vh;
  padding: 2em;
  text-align: center;
  /* overflow-y: scroll; */
}

.logo {
  margin: 1em;
}

.vector {
  margin: 1em;
}

.title {
  color: #151515;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
}

.desc {
  color: #151515;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
}

.form {
  margin-block: 1em;
  text-align: left;
  padding: 2em;
}

.form-group {
  margin-block: 1em;
}

.faq {
  text-align: left;
  padding: 1em 3em;
}

.section {
  margin: 1em;
}

.question {
  color: #151515;
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 12px;
}

.answer {
  color: rgba(21, 21, 21, 0.80);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
}

/* Medium screen */
@media (max-width: 820px) {
  body {
    font-size: 14px;
  }
  .container {
    flex-direction: column;
  }

  desc {
    font-size: 8px;
  }

  .vector {
    width: 100%
  }

  .left-col {
    padding: 1.5em;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll
  }
  .right-col {
    padding: 1.5em;
    width: 100%;
    min-height: 100vh;
  }
}

/* Small screen */
@media (max-width: 450px) {
  body {
    font-size: 12px;
  }
  .container {
    flex-direction: column;
  }

  .vector {
    width: 100%
  }

  .left-col {
    padding: 1.5em;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll
  }
  .right-col {
    padding: 1.5em;
    width: 100%;
    min-height: 100vh;
  }
}